<%- include('header'); -%>

  
<form action="<%=url %>/add" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="title" placeholder="Enter Title">
      
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputauthor">Author</label>
        <input type="text" class="form-control" id="exampleInputauthor" name="author" placeholder="Enter Author Name">
        
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  
  <%- include('footer'); -%>
  