<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="<%=url %>/bootstrap.min.css">
</head>
<body>
  <nav id="navbar-example2" class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="<%=url %>/">Dummy Blogs</a>
    <ul class="nav nav-pills">
  
      <li class="nav-item dropdown ">
        <div class="btn-group dropleft">

        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="navbar-toggler-icon"></span></a>
        <div class="dropdown-menu " style="right: 0; left: auto;">
          <a class="dropdown-item" href="<%=url %>/">Home</a>
          <a class="dropdown-item" href="<%=url %>/lists">Post</a>
          
              <a class="dropdown-item  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Contact Us
              </a>
              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://twitter.com/">Twitter</a>
                  <a class="dropdown-item" href="https://linkedin.com/">Linkedin</a>
                  <a class="dropdown-item" href="https://facebook.com/">Facebook</a>
                  <a class="dropdown-item" href="https://instagram.com/">Instagram</a>
                 
              </div>
        </div>
      </div>
      </li>
    </ul>
  </nav>
    <div class="container my-3">

    
