<%- include('header'); -%>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title"><%= blog[0].title %></h5>
    <p class="card-text"><%= blog[0].content %></p>

  </div>
</div>
  
  <%- include('footer'); -%>
  